<body>
    <p>
        1. We observe that the time taken to create an Erlang process is constant 1µs up to 2,500 processes; thereafter it increases to about 3µs for up to 30,000 processes. The performance of Java and C# is shown at the top of the figure. For a small number of processes it takes about 300µs to create a process. Creating more than two thousand processes is impossible.
        <br />
        <br />
        <img src = https://github.com/msdeep14/How-Smartly-Erlang-Uses-Distributed-Computing/blob/master/images/process_creation_time.png alt = "process creation time comparison"></img>
        <br /><br />
        2. We see that for up to 30,000 processes the time to send a message between two Erlang processes is about 0.8µs. For C# it takes about 50µs per message, up to the maximum number of processes (which was about 1800 processes). Java was even worse, for up to 100 process it took about 50µs per message thereafter it increased rapidly to 10ms per message when there were about 1000 Java processes.
        <br /><br />
        <img src = "https://github.com/msdeep14/How-Smartly-Erlang-Uses-Distributed-Computing/blob/master/images/message_passing_time.png" alt = "message passing time comparison"></img>

    </p>


</body>
