<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
     .tab { margin-left: 40px; }
     </style>
</head>

<body>
    <!-- #banner {
    background:url('{{ site.baseurl }}/images/image_me1.jpg');
    width:100%;
    min-height:389px;
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
     -->
    <!-- <div id="banner"></div> -->
<!-- <div id="content">
</div> -->
    <p>
    <strong>Hello,</strong><br />
    I'm final year computer engineering student at University of Pune, Army Institute of Technology, Pune (India). My
    computer science interests lies in Software Development, Algorithms and Data Structures. <br />
    <br />

    I enjoy programming and learning new technologies in computer science, I've most experience in C, C++ and Erlang and a little experience
    in Java while developing my first android app <a target="_blank" href = "https://github.com/msdeep14/Tripcount">Tripcount</a>
    <br /> Currently I'm exploring python and wrote some wonderful <a target = "_blank" href = "https://github.com/msdeep14/awesomePython">scripts</a>
    and developed a web app <a target = "_blank" href = "https://github.com/msdeep14/SnapLook">[SnapLook]</a> in django(python) for extracting images from twitter
    of specific hashtag and display them in image gallery.
    <br />
    <strong><a target="_blank" href = "https://msdeep14.github.io/projects/">See my all projects here</a></strong>
    <br />
    <br />

     Apart from writing code I contribute on <a target="_blank" href = "https://www.quora.com/profile/Mandeep-Singh-296">quora</a>
     and <a href = "{{ site.baseurl }}/projects/geeksforgeeks_articles.html">geeksforgeeks</a>
    <br />
    <br />
    I'm a dynamic person interested in meeting new opportunities and positive people.<br/>
    I'm passionate about using my skills to develop a awesome product and develop new skills while developing awesome product <i class="fa fa-smile-o" aria-hidden="true"></i>
    <br/><br/>
    <strong>** reach me by following the links on page footer</strong> <br />
</p>

    <h2>Work Experience</h2>
    <p>
        <ul>
            <li>
                <strong>Technical Content Writer Intern</strong> at <a target = "_blank" href = "http://www.geeksforgeeks.org/">GeeksforGeeks</a>  <strong>(July 2017 - Sept 2017)</strong>
                <p class = "tab">
                    <ul>
                     <li>Published technical blogs on algorithms, data structures, C/C++ and Erlang facts and features.</li>
                     <li>check out all published articles <a href = "{{ site.baseurl }}/projects/geeksforgeeks_articles.html">here</a></li>
                 </ul>
                </p>
            </li>
        <li><strong>Software Engineering Intern</strong> at <a target="_blank" href = "https://glabbr.com/"> Glabbr India Pvt. Ltd., Pune (India) </a>  <strong>(Dec 2016 - May 2017)</strong>
        <p class = "tab">
            <ul>
            <li> Worked as a backend engineer for the complete customization of ejabberd XMPP server and optimisation of social
            networking algorithms for server side implementation of
            glabbr messenger </li>
            <li>I contributed in development of group chat, media messaging, localisation of web pages, time based caching
            mechanism, JSON processing using jiffy library and improved key generation algorithm for AES encryption algorithm.</li>
            <!-- <li>get<strong> <a target="_blank" href = "https://play.google.com/store/apps/details?id=com.glabbr.messenger">glabbr on playstore</a></strong></li> -->
        </ul>
        </p></li>
    </ul>
    </p>
</body>
