<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     .tab { margin-left: 40px; }
</head>

<body>
    <p>Hello, my name is <strong>Mandeep Singh</strong> <br />
    I'm final year computer engineering student at University of Pune, Army Institute of Technology, Pune(India) <br />
    <br />
    I'm passionate about using my skills to develop a awesome product and develop new skills while developing awesome product <i class="fa fa-smile-o" aria-hidden="true"></i>
    <br />
</p>

    <h2>Experience</h2>
    <p>
        <strong>Software engineering intern</strong> at <a href = "http://www.glabbr.com/"> Glabbr, Pune(India) </a>
        <p class = "tab">
            Working as a backend engineer for the complete customization of ejabberd XMPP server for backend implementation of
            glabbr messenger <br />
            get the beta version  <a href = "https://play.google.com/store/apps/details?id=com.glabbr.messenger&hl=en">here</a>
        </p>
    </p>
</body>
