<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
     .tab { margin-left: 40px; }
     </style>
     <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
</head>

<body>

    <p>

        I'm passionate about Distributed Systems and always excited to work on challenging problems. I love to explore and deep dive into large scale system architectures and think of optimizations to make them better.

        <br/><br/>
        I'm Software Engineer by profession and spend my free time in reading and creating content to help around.
    <ol>
        <li> <a href="https://www.youtube.com/c/MsDeepSingh">YouTube channel - @MsDeepSingh </a></li>
        <li> <a href="https://oreillymedia.pxf.io/c/5915786/2322629/15173"> O'Reilly Book - System Design on AWS </a></li>

    </ol>
        I'm a dynamic person interested in meeting new opportunities and positive people. Thanks for visiting my profile, I hope our paths cross in the future :)

        <br/><br/>
    <b>Disclaimer:</b> Opinions are my own and not any company/organization.

<br/>
    </p>

</body>
