

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style type="text/css">
        .tab { margin-left: 40px; }
    </style>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <title>Published Books</title>
</head>

<body>

<p>

<h2> System Design on AWS </h2>

<a rel="sponsored"
   href="https://oreillymedia.pxf.io/c/5915786/2322629/15173?subId1=website" target="_top" id="2322629">
    <img src="//a.impactradius-go.com/display-ad/15173-2322629" border="0" alt="" width="250" height="328"/></a>

<br/><br/>

Enterprises building complex and large-scale applications in the cloud face multiple challenges. From figuring out the right tools to estimating the right provisioning, nearly every solution comes with a complicated set of choices and trade-offs. AWS provides a one-stop shop for building and scaling these applications, and this practical guide helps you decide which pieces to use and how to fit them together.
<br/><br/>
Authors Jayanth Kumar and Mandeep Singh equip software architects and engineers with essential AWS and system design knowledge to help you make good decisions and overcome the challenges of designing and scaling enterprise software architecture. By diving into specific use cases, you'll understand how these principles and resources can be applied to real-world problems.
<br/><br/>
With this book, you will:
<ol>
    <li>Learn the basics and best practices of successful system design</li>
    <li>Understand key AWS services and their strengths and limitations for building large-scale systems</li>
    <li>Examine engineering patterns and principles that best support large-scale systems, and learn how to design architecture with scalability, operations, and resilience in mind</li>
    <li>Learn what highly performant and cost-optimized architectures look like on AWS and the tools and frameworks that are best for specific use cases</li>

</ol>

<br/>
</p>

</body>
