<section id="projects">
<div class="container">

  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/DeepDataBase">DeepDataBase</a></strong> <br/>
			<p>A mini scale database engine.<br />
			1) System is given a touch of Relational Database where data can be stored and retrieved in the form of tables.<br />
			2) System reads data from and writes data to disk in blocks and there are custom blocks for each table.<br />
            3) Queries supported by system are SELECT, CREATE, INSERT, DROP, SHOW <br />
			4) Meta Data of tables is stored separately like current no. of records, table name, etc.<br />
			5) Indexing using B+ trees.<br />
            6) B+ tree search based on primary key and brute force search for other attributes of table <br />
		</p>
    </h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/IRCTC">IRCTC</a></strong> <br/>
            <p>IRCTC like Ticket Booking System developed in C++ using QT Framework<br/>
			1)Data encryption algorithm is used for storing encrypted passwords of users and binary Search is used for verifying 	username and password.<br/>
			2)For querying trains between stations, system will show all the available trains on and in case no direct trains are available, it will display indirect trains calculated using graph algorithms.<br/>
			3)System takes care of cycles within the graph efficiently.<br/>
			4)Simple payment system is designed for payment of ticket and then displaying of ticket.<br/>
			5)Data is stored using files<br/>
		</p>
		</h5>
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/Tripcount">Tripcount</a></strong> <br/>
			<p>
            An android app for managing all your group trips and day to day expenses<br/>
			1)App contains two modules : day2day expenses and Trip expenses<br/>
			2) While on Trip, add money paid by any of friend and Tripcount has inbuilt algorithm which automatically calculates which friend owes money to whom and how they can settle the payments.<br/>
			3)It also keeps track of day to day expenses, you can add expenses for a particular friend and it will show total amount owed by that friend.<br/>
		</p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/Complexity-Dictionary">Complexity Dictionary</a></strong> <br/>
			<p>
            Java based dictionary implementation for comparing running time of Tries, AVL Tree, RedBlack Tree and HashMaps.<br/>
        </p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href= "https://github.com/msdeep14/Travel-Data-Analysis">Travel Data Analysis</a></strong><br/>
			<p>
			From a large data file, the system extracts data using Pig tool and analyze top 20 and least 20 travelled destinations using R programming.<br/>
		</p>
		</h5>

		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/play_2048">2048</a></strong> <br/>
			<p>
             Popular game 2048 developed in C++ for applying basic OOP concepts.<br/>
         </p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/hackerranksolutions">HackerRank Solutions</a></strong> <br/>
			<p>
			This repo contains HackerRank algorithmic solutions. <br/>
			</p>
		</h5>
    </div>
  </div>
</div>
</section>
