
<head>
    <title>Projects</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>
        <h4>
            <a href="{{ site.baseurl }}/projects/deepdatabase.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "DeepDataBase" height = "200" width = "200"/>DeepDataBase</a>
        </h4>
		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/DeepDataBase">DeepDataBase</a></strong> <br/>
			<p>A mini scale database engine.<br />
			1) System is given a touch of Relational Database where data can be stored and retrieved in the form of tables.<br />
			2) System reads data from and writes data to disk in blocks and there are custom blocks for each table.<br />
            3) Queries supported by system are SELECT, CREATE, INSERT, DROP, SHOW <br />
			4) Meta Data of tables is stored separately like current no. of records, table name, etc.<br />
			5) Indexing using B+ trees.<br />
            6) B+ tree search based on primary key and brute force search for other attributes of table <br />
		</p>
    </h5> -->
    <h4>
        <a href="{{ site.baseurl }}/projects/irctc.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "IRCTC" height = "200" width = "200"/>IRCTC</a>
    </h4>
		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/IRCTC">IRCTC</a></strong> <br/>
            <p>IRCTC like Ticket Booking System developed in C++ using QT Framework<br/>
			1)Data encryption algorithm is used for storing encrypted passwords of users and binary Search is used for verifying 	username and password.<br/>
			2)For querying trains between stations, system will show all the available trains on and in case no direct trains are available, it will display indirect trains calculated using graph algorithms.<br/>
			3)System takes care of cycles within the graph efficiently.<br/>
			4)Simple payment system is designed for payment of ticket and then displaying of ticket.<br/>
			5)Data is stored using files<br/>
		</p>
		</h5> -->
        <h4>
            <a href="{{ site.baseurl }}/projects/tripcount.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "Tripcount" height = "200" width = "200"/>Tripcount</a>
        </h4>
        <h4>
            <a href="{{ site.baseurl }}/projects/bytecode.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "ByteCode" height = "200" width = "200"/>ByteCode</a>
        </h4>
    	<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/Tripcount">Tripcount</a></strong> <br/>
			<p>
            An android app for managing all your group trips and day to day expenses<br/>
			1)App contains two modules : day2day expenses and Trip expenses<br/>
			2) While on Trip, add money paid by any of friend and Tripcount has inbuilt algorithm which automatically calculates which friend owes money to whom and how they can settle the payments.<br/>
			3)It also keeps track of day to day expenses, you can add expenses for a particular friend and it will show total amount owed by that friend.<br/>
		</p>
		</h5> -->
        <h4>
            <a href="{{ site.baseurl }}/projects/complexity_dictionary.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "Complexity Dictionary" height = "200" width = "200"/>Complexity Dictionary</a>
        </h4>
		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/Complexity-Dictionary">Complexity Dictionary</a></strong> <br/>
			<p>
            Java based dictionary implementation for comparing running time of Tries, AVL Tree, RedBlack Tree and HashMaps.<br/>
        </p>
		</h5> -->
        <h4>
            <a href="{{ site.baseurl }}/projects/travel_data_analysis.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "TRAVEL DATA ANALYSIS" height = "200" width = "200"/>TRAVEL DATA ANALYSIS</a>
        </h4>
		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href= "https://github.com/msdeep14/Travel-Data-Analysis">Travel Data Analysis</a></strong><br/>
			<p>
			From a large data file, the system extracts data using Pig tool and analyze top 20 and least 20 travelled destinations using R programming.<br/>
		</p>
		</h5> -->
        <h4>
            <a href="{{ site.baseurl }}/projects/2048.html"><img src="{{ site.baseurl }}/images/deepdatabase.png" title = "2048" height = "200" width = "200"/>2048</a>
        </h4>

		<!-- <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/play_2048">2048</a></strong> <br/>
			<p>
             Popular game 2048 developed in C++ for applying basic OOP concepts.<br/>
         </p>
		</h5>
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/hackerranksolutions">HackerRank Solutions</a></strong> <br/>
			<p>
			This repo contains HackerRank algorithmic solutions. <br/>
			</p>
		</h5> -->
        <h3>
            Some other minor project repositories </h3>
            <p>
                1) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/hackerranksolutions">HackerRank Algorithmic Solutions</a></strong> <br/>
                    This repository contains solutions to the hackerrank algorithmic problems<br />
                2) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/MChat">MChat</a></strong> <br/>
                    An android app consisting of single chat room developed using firebase <br />
                3) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/How-Smartly-Erlang-Uses-Distributed-Computing">How smartly Erlang uses Distributed Computing</a></strong> <br/>
                Presented a seminar on “How smartly Erlang uses Distributed Computing and application of Erlang
for backend development of messenger application”<br />
                4) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/codeforces">Codeforces Algorithmic Solutions</a></strong> <br/>
                This repository contains solutions to the codeforces algorithmic problems<br />
                5) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/DSPS_codes">DataStructures Codes</a></strong> <br/>
                    This repository contains implemenation of various datastrucutres as a part of data structures and programming laboratory<br />
                6) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/CG_lab">Blender project</a></strong> <br/>
                    This repository contains a blender project implemented as a part of computer graphics laboratory<br />
                7) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/OOMP_lab">OOMP Codes</a></strong> <br/>
                    This repository contains solutions of assignments of object oriented and multicore programming laboratory <br />
                8) <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/msdeep14/spoj">SPOJ solutions</a></strong> <br/>
                    This repository contains solutions to the problems of SPOJ <br />

            </p>
    </body>
