<section class="projects-section">
  
  <div class="projects-header">
    <h1>🚀 Projects</h1>
    <p class="text-muted">A collection of my college projects and open-source contributions.</p>
    <a href="https://github.com/msdeep14" target="_blank" class="btn-github"><i class="fa fa-github"></i> Fork me on GitHub</a>
  </div>

  <div class="projects-grid">
    <a href="https://github.com/msdeep14/NewsMaster" target="_blank" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/newsmaster.png" alt="NewsMaster">
      </div>
      <div class="project-content">
        <h3>NewsMaster</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/snaplook.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/snaplook.png" alt="SnapLook">
      </div>
      <div class="project-content">
        <h3>SnapLook</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/deepdatabase.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/deepdb.png" alt="DeepDataBase">
      </div>
      <div class="project-content">
        <h3>DeepDataBase</h3>
      </div>
    </a>

    <a href="https://github.com/msdeep14/SecureBank" target="_blank" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/securebank.png" alt="SecureBank">
      </div>
      <div class="project-content">
        <h3>SecureBank</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/irctc.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/irctc.jpg" alt="IRCTC">
      </div>
      <div class="project-content">
        <h3>IRCTC</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/tripcount.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/tripcount.png" alt="Tripcount">
      </div>
      <div class="project-content">
        <h3>Tripcount</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/bytecode.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/bytecode.png" alt="ByteCode">
      </div>
      <div class="project-content">
        <h3>ByteCode</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/complexity_dictionary.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/complex_dict.png" alt="Complexity Dictionary">
      </div>
      <div class="project-content">
        <h3>Complexity Dictionary</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/awesomepython.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/awesomepython.jpg" alt="Awesome Python Scripts">
      </div>
      <div class="project-content">
        <h3>Awesome Python Scripts</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/travel_data_analysis.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/travel_data.png" alt="Travel Data Analysis">
      </div>
      <div class="project-content">
        <h3>Travel Data Analysis</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/2048.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/2048.png" alt="2048">
      </div>
      <div class="project-content">
        <h3>2048</h3>
      </div>
    </a>

    <a href="{{ site.baseurl }}/projects/erlang_dcomputing.html" class="project-card">
      <div class="project-img-wrapper">
        <img src="{{ site.baseurl }}/images/project_images/erlang.png" alt="Erlang Distributed Computing">
      </div>
      <div class="project-content">
        <h3>Erlang Distributed Computing</h3>
      </div>
    </a>
  </div>

  <div class="other-repos">
    <h2><i class="fa fa-folder-open-o"></i> Other Repositories</h2>
    <ul class="repo-list">
      <li>
        <a href="https://github.com/msdeep14/hackerranksolutions" target="_blank">
          <strong>HackerRank Algorithmic Solutions</strong>
          <span>This repository contains solutions to the hackerrank algorithmic problems</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/MChat" target="_blank">
          <strong>MChat</strong>
          <span>An android app consisting of single chat room developed using firebase</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/Algorithms-Practice" target="_blank">
          <strong>Algorithms Practice</strong>
          <span>This repository contains solutions to various algorithmic questions</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/codeforces" target="_blank">
          <strong>Codeforces Algorithmic Solutions</strong>
          <span>This repository contains solutions to the codeforces algorithmic problems</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/DSPS_codes" target="_blank">
          <strong>DataStructures Codes</strong>
          <span>Implementation of various Data Structures as a part of data structures laboratory</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/CG_lab" target="_blank">
          <strong>Blender project</strong>
          <span>A blender project implemented as a part of computer graphics laboratory</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/OOMP_lab" target="_blank">
          <strong>OOMP Codes</strong>
          <span>Solutions of assignments of object oriented and multicore programming laboratory</span>
        </a>
      </li>
      <li>
        <a href="https://github.com/msdeep14/spoj" target="_blank">
          <strong>SPOJ solutions</strong>
          <span>This repository contains solutions to the problems of SPOJ</span>
        </a>
      </li>
    </ul>
  </div>

</section>
