<section class="book-section" style="justify-content: center; text-align: center; flex-direction: column;">
    <div style="font-size: 80px; color: var(--accent-color); margin-bottom: 20px;">
        <i class="fa fa-rocket" aria-hidden="true"></i>
    </div>
    <div class="book-info" style="flex: none;">
        <h1 class="book-title">Upcoming Book</h1>
        <p class="book-subtitle">A new exciting guide is currently in the works. Stay tuned for more updates!</p>
        
        <div class="button-container" style="justify-content: center; margin-top: 30px;">
            <a href="https://systemdesignfromscratch.org/" class="buy-button dragonfly" target="_blank" rel="noopener noreferrer">Join Newsletter to be Notified</a>
        </div>
    </div>
</section>
